article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block}
audio,canvas,video{display:inline-block}
audio:not([controls]){display:none;height:0}
[hidden]{display:none}
html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}
body{margin:0}
a:focus{outline:thin dotted}
a:active,a:hover{outline:0}
h1{font-size:2em}
abbr[title]{border-bottom:1px dotted}
b,strong{font-weight:bold}
dfn{font-style:italic}
mark{background:#ff0;color:#000}
code,kbd,pre,samp{font-family:monospace,serif;font-size:1em}
pre{white-space:pre-wrap;word-wrap:break-word}
q{quotes:"\201C" "\201D" "\2018" "\2019"}
small{font-size:80%}
sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sup{top:-.5em}
sub{bottom:-.25em}
img{border:0}
svg:not(:root){overflow:hidden}
figure{margin:0}
fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:.35em .625em .75em}
legend{border:0;padding:0}
button,input,select,textarea{font-family:inherit;font-size:100%;margin:0}
button,input{line-height:normal}
button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer}
button[disabled],input[disabled]{cursor:default}
input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0}
input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}
input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}
button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}
textarea{overflow:auto;vertical-align:top}
table{border-collapse:collapse;border-spacing:0}
.highlight .hll{background-color:#222}
.highlight .c{color:#000080}
.highlight .err{color:#ccc;border:1px solid #f00}
.highlight .g{color:#ccc}
.highlight .k{color:#cdcd00}
.highlight .l{color:#ccc}
.highlight .n{color:#ccc}
.highlight .o{color:#39c}
.highlight .x{color:#ccc}
.highlight .p{color:#ccc}
.highlight .cm{color:#000080}
.highlight .cp{color:#000080}
.highlight .c1{color:#000080}
.highlight .cs{color:#cd0000;font-weight:bold}
.highlight .gd{color:#cd0000}
.highlight .ge{color:#ccc;font-style:italic}
.highlight .gr{color:#f00}
.highlight .gh{color:#000080;font-weight:bold}
.highlight .gi{color:#00cd00}
.highlight .go{color:#808080}
.highlight .gp{color:#000080;font-weight:bold}
.highlight .gs{color:#ccc;font-weight:bold}
.highlight .gu{color:#800080;font-weight:bold}
.highlight .gt{color:#0040d0}
.highlight .kc{color:#cdcd00}
.highlight .kd{color:#00cd00}
.highlight .kn{color:#cd00cd}
.highlight .kp{color:#cdcd00}
.highlight .kr{color:#cdcd00}
.highlight .kt{color:#00cd00}
.highlight .ld{color:#ccc}
.highlight .m{color:#cd00cd}
.highlight .s{color:#cd0000}
.highlight .na{color:#ccc}
.highlight .nb{color:#cd00cd}
.highlight .nc{color:#00cdcd}
.highlight .no{color:#ccc}
.highlight .nd{color:#ccc}
.highlight .ni{color:#ccc}
.highlight .ne{color:#669;font-weight:bold}
.highlight .nf{color:#ccc}
.highlight .nl{color:#ccc}
.highlight .nn{color:#ccc}
.highlight .nx{color:#ccc}
.highlight .py{color:#ccc}
.highlight .nt{color:#ccc}
.highlight .nv{color:#00cdcd}
.highlight .ow{color:#cdcd00}
.highlight .w{color:#ccc}
.highlight .mf{color:#cd00cd}
.highlight .mh{color:#cd00cd}
.highlight .mi{color:#cd00cd}
.highlight .mo{color:#cd00cd}
.highlight .sb{color:#cd0000}
.highlight .sc{color:#cd0000}
.highlight .sd{color:#cd0000}
.highlight .s2{color:#cd0000}
.highlight .se{color:#cd0000}
.highlight .sh{color:#cd0000}
.highlight .si{color:#cd0000}
.highlight .sx{color:#cd0000}
.highlight .sr{color:#cd0000}
.highlight .s1{color:#cd0000}
.highlight .ss{color:#cd0000}
.highlight .bp{color:#cd00cd}
.highlight .vc{color:#00cdcd}
.highlight .vg{color:#00cdcd}
.highlight .vi{color:#00cdcd}
.highlight .il{color:#cd00cd}
@font-face{font-family:Oswald;src:url("/theme/fonts/oswald.woff");font-weight:normal;font-style:normal}
@font-face{font-family:entypo;src:url("/theme/fonts/entypo.woff");font-weight:normal;font-style:normal}
[data-icon]:before{font-family:entypo;content:attr(data-icon);speak:none;font-weight:normal;line-height:1;-webkit-font-smoothing:antialiased}
.icon-github:before,.icon-twitter:before,.icon-cc:before,.icon-cc-by:before,.icon-cc-sa:before,.icon-mail:before,.icon-flattr:before{font-family:entypo;speak:none;font-style:normal;font-weight:normal;line-height:1;-webkit-font-smoothing:antialiased}
.icon-github:before{content:"\e002"}
.icon-twitter:before{content:"\e004"}
.icon-cc:before{content:"\e000"}
.icon-cc-by:before{content:"\e001"}
.icon-cc-sa:before{content:"\e003"}
.icon-mail:before{content:"\e005"}
.icon-flattr:before{content:"\e006"}
#error-content{font-family:Oswald;width:380px;height:220px;margin:auto;margin-top:30%;color:#df013a;background:#a0928b;border-radius:10px;border:1px solid #463d39;box-shadow:0 0 20px #000;padding:10px;}
#error-content header{margin:auto;text-align:center;font-size:2.4em;color:#fff;text-shadow:0 0 10px #fff;padding-top:5px;padding-bottom:5px;border-bottom:1px solid #463d39}
html{height:100%}
body{height:100%;margin:0;padding:0;background:url("/theme/images/grid.png")}
#banner{font-size:1.2em;background:#463d39;box-shadow:0 6px 10px 3px rgba(21,18,17,0.7);border-bottom:2px solid #27221f;}
#banner h1{font-family:Oswald;margin:auto;margin-top:0;padding:10px;padding-left:0;width:70%;max-width:960px}
#banner a{text-decoration:none;text-transform:uppercase;color:#27221f;transition-property:text-shadow,color;transition-duration:.7s;transition-timing-function:ease-in-out;}
#banner a strong{color:#a0928b;margin-top:0;font-size:.7em;transition-property:text-shadow,color;transition-duration:.7s;transition-timing-function:ease-in-out}
#banner a:hover{color:#332d29;text-shadow:0 0 16px #fff;}
#banner a:hover strong{color:#aa9d97;text-shadow:0 0 16px #fff}
#menu{width:70%;max-width:960px;margin:auto;margin-top:-85px;margin-bottom:115px;padding-top:20px;text-transform:uppercase;font-family:Oswald;font-size:1.2em;}
#menu ul{float:right;}
#menu ul li{display:inline}
#menu a{text-decoration:none;padding-top:85px;padding-left:6px;padding-right:6px;padding-bottom:3px;color:#a0928b;border-radius:3px;transition-property:background,color;transition-duration:.7s;transition-timing-function:ease-in-out}
#menu .active a,#menu a:hover{background-color:#a0928b;color:#df013a}
#content{position:relative;text-align:justify;min-height:100%;max-width:960px;width:70%;margin:auto;padding-bottom:30px;}
#content h1,#content h2,#content h3,#content h4,#content h5,#content h6{font-family:Oswald;color:#27221f;text-transform:uppercase}
#content ol{list-style-type:none}
#content .entry-title a{font-size:1em;text-decoration:none;text-transform:uppercase;color:#df013a;transition-property:text-shadow,color;transition-duration:.3s;transition-timing-function:ease-in-out;}
#content .entry-title a:hover{color:#ed013e;text-shadow:1px -1px 1px #860123}
#content .post-info a,#content .entry-content a{color:#df013a;padding-left:1px;padding-right:1px;border-radius:3px;transition-property:text-shadow,background,color;transition-duration:.3s;transition-timing-function:ease-in-out;}
#content .post-info a:hover,#content .entry-content a:hover{color:#fff;background:#df013a;text-decoration:none;text-shadow:0 0 3px #fff}
#content .highlight{color:#fff;background:#1a1a1a;padding:10px;margin:0;border-radius:3px;border:1px solid #27221f}
#content #post-list li .hentry{border-bottom:1px solid #27221f}
#content #post-list li:last-child .hentry{border:none}
#content .align-middle{vertical-align:middle}
#contentinfo{font-family:Oswald;background:#463d39;color:#a0928b;border-top:2px solid #27221f;padding-top:10px;padding-bottom:10px;text-align:center;}
#contentinfo a{color:#df013a;padding-left:1px;padding-right:1px;border-radius:3px;transition-property:text-shadow,background,color;transition-duration:.3s;transition-timing-function:ease-in-out;}
#contentinfo a:hover{color:#fff;background:#df013a;text-decoration:none;text-shadow:0 0 3px #fff}
#contentinfo .social-links a,#contentinfo #credits a{margin:1em;font-size:2em;color:#a0928b;text-decoration:none;background:none;transition-property:text-shadow,color;transition-duration:.3s;transition-timing-function:ease-in-out;}
#contentinfo .social-links a:hover,#contentinfo #credits a:hover{color:#fff;text-shadow:0 0 3px #fff}
#contentinfo #credits a{font-size:1.4em;margin:.2em;vertical-align:middle}
